* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    }

/* NAVBAR STYLES */

.dropdown-item{
    text-align: center;
    color:#1E90FF;
}

.dropdown-item:hover{
    background-color: white;
}

.dropdown-menu{
    background-color: white;
}

nav{
    background-color: white;
}

#navbarSupportedContent{
    text-align: center;
}

.nav-link, .navbar-brand{
    color:#1E90FF;
}

.active{
   color: #1E90FF;
}

/* MAIN PAGE STYLES */

.container{
    border-bottom:1px solid black;
    overflow: hidden;
    min-height:1000px;
    max-height:1200px;
}

.row{
    align-items: center;
    justify-content: center;
}

.sun {
	width: 200px;
	height: 200px;
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}

#iam{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top:-7%;
}


.text{
    position:relative;
    color: white;
    font-size: 1.0em;
    font-family: Roboto Condensed,Lato,Arial,sans-serif;
}

.text.first-text{
    color: white;
}

.text.sec-text:before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: #1E90FF;
    border-left: 2px solid #1E90FF;
    animation: animate 4s steps(18) infinite;
}

.mainpage{
    background-color:white;
    min-height:1000px;
    max-height:1200px;
    overflow: hidden;
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.cloud{
    position:relative;
    display: inline-block;
    background-color: #1E90FF;
    border-radius: 100px;
    width:30vw;
    height:9vw;
    min-width: 430px;
    min-height: 150px;
    margin-top:300px;
}

#circle1{
    position:relative;
    background-color: #1E90FF;
    width:15vw;
    height:15vw;
    min-width:200px;
    min-height:200px;
    border-radius: 50%;
    margin-top:-30%;
    margin-left:10%;
}

#circle2{
    position:relative;
    background-color: #1E90FF;
    width:10vw;
    height:10vw;
    min-width:150px;
    min-height:150px;
    border-radius: 50%;
    margin-top:-40%;
    margin-left:50%;
}

/* ABOUT ME STYLES */

.aboutmeh1{
    padding-top:100px;
    text-align: center;
}

#aboutmedesc{
    padding-top: 50px;
    text-align: center;
}

.skills{
    padding-top:100px;
    text-align: center;
}

.skillslist{
    list-style-type: none;
    font-size: larger;
    display: inline;
    height:242px;
}
