* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    }

/* NAVBAR STYLES */

.dropdown-item{
    text-align: center;
}

.dropdown-item:hover{
    background-color: white;
}

.dropdown-menu{
    background-color: white;
}

nav{
    background-color: white;
}

#navbarSupportedContent{
    text-align: center;
}

/* MAIN PAGE STYLES */

.container{
    min-height:1000px;
    max-height:1200px;
    border-bottom:1px solid black;
    overflow: hidden;
}

.row{
    align-items: center;
    justify-content: center;
}

#iam{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top:45%;
}


.text{
    position:relative;
    color: white;
    font-size: 1.0em;
    font-family: Roboto Condensed,Lato,Arial,sans-serif;
}

.text.first-text{
    color: white;
}

.text.sec-text:before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: #5918df;
    border-left: 2px solid #5918df;
    animation: animate 4s steps(18) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.cloud{
    position:relative;
    background-color: #5918df;
    border-radius: 50%;
    filter: drop-shadow(0px 100px 14px rgb(97, 11, 235));
    height:25vw;
    width:25vw;
    min-width: 430px;
    min-height: 430px;
    margin-top:150px;
}

#circle1{
    position: absolute;
    background-color: #5918df;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    animation: animcirc1 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 130px;
    min-height: 130px;
}

#circle2{
    position: absolute;
    background-color: #5918df;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    animation: animcirc2 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 50px;
    min-height: 50px;
}

#circle3{
    position: absolute;
    background-color: #5918df;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: animcirc3 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 100px;
    min-height: 100px;
}

#circle4{
    position: absolute;
    background-color: #5918df;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    animation: animcirc4 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 130px;
    min-height: 130px;
}

#circle5{
    position: absolute;
    background-color: #5918df;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    animation: animcirc5 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 70px;
    min-height: 70px;
}

#circle6{
    position: absolute;
    background-color: #5918df;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    animation: animcirc6 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 50px;
    min-height: 50px;
}

#circle7{
    position: absolute;
    background-color: #5918df;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: animcirc7 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 100px;
    min-height: 100px;
}

#circle8{
    position: absolute;
    background-color: #5918df;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    animation: animcirc8 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 120px;
    min-height: 120px;
}

#circle9{
    position: absolute;
    background-color: #5918df;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    animation: animcirc9 25s cubic-bezier(0, 0, 0, 0) infinite;
    min-width: 60px;
    min-height: 60px;
}

@keyframes animcirc1 {
    0%{
        top:-10%;
        left:-5%;
    }
    10%{
        top:-15%;
        left:10%;
    }
    20%{
        top:-10%;
        left:25%;
    }
    30%{
        top:-15%;
        left:55%;
    }
    40%{
        top:-10%;
        left:80%;
    }
    50%{
        top: 60%;
        left:85%;
    }
    60%{
        top: 65%;
        left:55%;
    }
    70%{
        top: 70%;
        left:10%;
    }
    80%{
        top: 65%;
        left:-5%;
    }
    90%{
        top: 10%;
        left:-10%;
    }
    100%{
        top:-10%;
        left:-5%;
    }
}

@keyframes animcirc2 {    
    0%{
        top:-15%;
        left:10%;
    }
    10%{
        top:-10%;
        left:25%;
    }
    20%{
        top:-15%;
        left:55%;
    }
    30%{
        top:-10%;
        left:80%;
    }
    40%{
        top: 60%;
        left:85%;
    }
    50%{
        top: 65%;
        left:55%;
    }
    60%{
        top: 70%;
        left:10%;
    }
    70%{
        top: 65%;
        left:-5%;
    }
    80%{
        top: 10%;
        left:-10%;
    }
    90%{
        top:-10%;
        left:-5%;
    }
    100%{
        top:-15%;
        left:10%;
    }
}

@keyframes animcirc3 {    
    
    0%{
        top:-10%;
        left:25%;
    }
    10%{
        top:-15%;
        left:55%;
    }
    20%{
        top:-10%;
        left:80%;
    }
    30%{
        top: 60%;
        left:85%;
    }
    40%{
        top: 65%;
        left:55%;
    }
    50%{
        top: 70%;
        left:10%;
    }
    60%{
        top: 65%;
        left:-5%;
    }
    70%{
        top: 10%;
        left:-10%;
    }
    80%{
        top:-10%;
        left:-5%;
    }
    90%{
        top:-15%;
        left:10%;
    }
    100%{
        top:-10%;
        left:25%;
    }
}

@keyframes animcirc4 {    
    
    0%{
        top:-15%;
        left:55%;
    }
    10%{
        top:-10%;
        left:80%;
    }
    20%{
        top: 60%;
        left:85%;
    }
    30%{
        top: 65%;
        left:55%;
    }
    40%{
        top: 70%;
        left:10%;
    }
    50%{
        top: 65%;
        left:-5%;
    }
    60%{
        top: 10%;
        left:-10%;
    }
    70%{
        top:-10%;
        left:-5%;
    }
    80%{
        top:-15%;
        left:10%;
    }
    90%{
        top:-10%;
        left:25%;
    }
    100%{
        top:-15%;
        left:55%;
    }
}

@keyframes animcirc5 {    
    
    0%{
        top:-10%;
        left:80%;
    }
    10%{
        top: 60%;
        left:85%;
    }
    20%{
        top: 65%;
        left:55%;
    }
    30%{
        top: 70%;
        left:10%;
    }
    40%{
        top: 65%;
        left:-5%;
    }
    50%{
        top: 10%;
        left:-10%;
    }
    60%{
        top:-10%;
        left:-5%;
    }
    70%{
        top:-15%;
        left:10%;
    }
    80%{
        top:-10%;
        left:25%;
    }
    90%{
        top:-15%;
        left:55%;
    }
    100%{
        top:-10%;
        left:80%;
    }
}

@keyframes animcirc6 {    
    
    0%{
        top: 60%;
        left:85%;
    }
    10%{
        top: 65%;
        left:55%;
    }
    20%{
        top: 70%;
        left:10%;
    }
    30%{
        top: 65%;
        left:-5%;
    }
    40%{
        top: 10%;
        left:-10%;
    }
    50%{
        top:-10%;
        left:-5%;
    }
    60%{
        top:-15%;
        left:10%;
    }
    70%{
        top:-10%;
        left:25%;
    }
    80%{
        top:-15%;
        left:55%;
    }
    90%{
        top:-10%;
        left:80%;
    }
    100%{
        top: 60%;
        left:85%;
    }
}

@keyframes animcirc7 {    
    
    0%{
        top: 65%;
        left:55%;
    }
    10%{
        top: 70%;
        left:10%;
    }
    20%{
        top: 65%;
        left:-5%;
    }
    30%{
        top: 10%;
        left:-10%;
    }
    40%{
        top:-10%;
        left:-5%;
    }
    50%{
        top:-15%;
        left:10%;
    }
    60%{
        top:-10%;
        left:25%;
    }
    70%{
        top:-15%;
        left:55%;
    }
    80%{
        top:-10%;
        left:80%;
    }
    90%{
        top: 60%;
        left:85%;
    }
    100%{
        top: 65%;
        left:55%;
    }
}

@keyframes animcirc8 {    
    
    0%{
        top: 70%;
        left:10%;
    }
    10%{
        top: 65%;
        left:-5%;
    }
    20%{
        top: 10%;
        left:-10%;
    }
    30%{
        top:-10%;
        left:-5%;
    }
    40%{
        top:-15%;
        left:10%;
    }
    50%{
        top:-10%;
        left:25%;
    }
    60%{
        top:-15%;
        left:55%;
    }
    70%{
        top:-10%;
        left:80%;
    }
    80%{
        top: 60%;
        left:85%;
    }
    90%{
        top: 65%;
        left:55%;
    }
    100%{
        top: 70%;
        left:10%;
    }
}

@keyframes animcirc9 {    
    
    0%{
        top: 65%;
        left:-5%;
    }
    10%{
        top: 10%;
        left:-10%;
    }
    20%{
        top:-10%;
        left:-5%;
    }
    30%{
        top:-15%;
        left:10%;
    }
    40%{
        top:-10%;
        left:25%;
    }
    50%{
        top:-15%;
        left:55%;
    }
    60%{
        top:-10%;
        left:80%;
    }
    70%{
        top: 60%;
        left:85%;
    }
    80%{
        top: 65%;
        left:55%;
    }
    90%{
        top: 70%;
        left:10%;
    }
    100%{
        top: 65%;
        left:-5%;
    }
}

/* ABOUT ME STYLES */

.aboutmeh1{
    padding-top:100px;
    text-align: center;
}

#aboutmedesc{
    padding-top: 50px;
    text-align: center;
}

.skills{
    padding-top:100px;
    text-align: center;
}

.skillslist{
    list-style-type: none;
    font-size: larger;
    display: inline;
    height:242px;
}
